
<section class="header">
    <div class="header">
      <header class="title">
        <h2>Wood</h2>
      </header>
    </div>

    <div class="grid-container">
      <div class="col-md-3" *ngFor="let product of products">
        <div class="card">
          <br/>
          <img class="product-card" src="{{product.prodImg}}" alt="Card image">
          <div class="card-body">
            <h3 class="product-name">{{product.prodName}}</h3>
            <p class="product-price">Price: ₹{{product.price}}/piece</p>
            <p align="right">
              <button class="add-to-cart" (click)="addToCart(product)"> Add to Cart </button>
            </p>
          </div>
        </div>
      </div>
  </div>
</section>