<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <footer>
      <div class="footer">
      <div class="row">
      <a href="#"><i class="fa fa-google"></i></a>
      
      </div>
      
      <div class="row">
      <ul>
      <li><a href="#">Contact us</a>
         <!-- <li class="phone"><a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a></li> -->
      </li>
      <li><a href="#">Our Services</a>
        <!-- <li><a href="Home">Home</a></li>
        <li><a href="Designs">Designs</a></li>
        <li><a href="Products">Products</a></li>
        <li><a href="AboutUs">About Us</a></li> -->
      </li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Career</a></li>
      </ul>
      </div>
      
      <div class="row1">
      INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By HKMRSN
      </div>
      </div>
      </footer>
    </body>

