
<section class="header">
    <div class="header">
        <header class="title">
            <h2 class="title">Raw Materials</h2>
        </header>
    </div>
  <div class="wrapper" >
    <a href="javascript:void(0)" id="left-arrow" (click)="goToPrevious('rawMaterials')">
    <img class="leftarrow" src="assets/images/left.png" alt="left Arrow">
  </a>
    <ul class="carousel" #rawMaterialsCarousel>
      <a routerLink="Cement">
        <li class="card" >
          
          <div class="img"><img src="assets/images/con-kcp-cement.jpg" alt="img" draggable="false"></div>
          <h2>Cement</h2>
          
        </li>
        </a>
        <a routerLink="Aggregates">
      <li class="card" >
        <div class="img"><img src="assets/images/6-mm-Aggregates.jpg" alt="img" draggable="false"></div>
        <h2>Aggregates</h2>
      </li>
      </a>

      <a routerLink="AccBlock">
      <li class="card">
        <div class="img"><img src="assets/images/ACCblocks.jpg" alt="img" draggable="false"></div>
        <h2>ACC Block</h2>
      </li>
    </a>

      <a routerLink="Wood">
      <li class="card">
        <div class="img"><img src="assets/images/wood.jpg" alt="img" draggable="false"></div>
        <h2>Wood</h2>
      </li>
    </a>

      <a routerLink="Tmt">
      <li class="card" >
        <div class="img"><img src="assets/images/tmt-bar.jpg" alt="img" draggable="false"></div>
        <h2>TMT</h2> 
      </li>
    </a>

      <a routerLink="RedBricks">
      <li class="card">
        <div class="img"><img src="assets/images/Redbricks.jpg" alt="img" draggable="false"></div>
        <h2>Red Bricks</h2>
      </li>
    </a>
      

      <a routerLink="Sand">
      <li class="card">
        <div class="img"><img src="assets/images/Refined-Sand.jpg" alt="img" draggable="false"></div>
        <h2>Sand</h2>
      </li>
    </a>
    </ul>
   <a href="javascript:void(0)" id="right-arrow" (click)="goToNext('rawMaterials')">
    <img class="rightarrow" src="assets/images/right.png" alt="right Arrow">
  </a>
  </div>
</section>
<br><br>
<section class="header">
  <div class="header">
      <header class="title">
          <h2 class="title">Furniture</h2>
      </header>
  </div>
<div class="wrapper" >
  <a href="javascript:void(0)" id="left-arrow" (click)="goToPrevious('furniture')">
    <img class="leftarrow" src="assets/images/left.png" alt="left Arrow">
  </a>
  <ul class="carousel" #furnitureCarousel>

    <a routerLink="Bed">
      <li class="card" >
        <div class="img"><img src="assets/images/bed.jpg" alt="img" draggable="false"></div>
        <h2>Bed</h2>
        
      </li>
      </a>

      <a routerLink="Sofa">
    <li class="card" >
      <div class="img"><img src="assets/images/sofa.jpg" alt="img" draggable="false"></div>
      <h2>Sofa</h2>
    </li>
    </a>

    <a routerLink="Chair">
    <li class="card">
      <div class="img"><img src="assets/images/chair.jpg" alt="img" draggable="false"></div>
      <h2>Chair</h2>
    </li>
  </a>

    <a routerLink="Chandelier">
    <li class="card">
      <div class="img"><img src="assets/images/shandler.jpg" alt="img" draggable="false"></div>
      <h2>Chandelier</h2>
    </li>
  </a>

    <a routerLink="Vases">
    <li class="card" >
      <div class="img"><img src="assets/images/vases.jpg" alt="img" draggable="false"></div>
      <h2>Vases</h2> 
    </li>
  </a>

  </ul>
  <a href="javascript:void(0)" id="right-arrow" (click)="goToNext('furniture')">
    <img class="rightarrow" src="assets/images/right.png" alt="right Arrow">
  </a>
</div>
</section>

<!-- <app-cement></app-cement>
<app-acc-blocks></app-acc-blocks>
<app-aggregates></app-aggregates>
<app-red-bricks></app-red-bricks>
<app-sand></app-sand>
<app-tmt></app-tmt>
<app-wood></app-wood> -->