
<!-- ----------------- Interior---------- -->
<div class="header">
  <header class="title">
    <h2>Interior Designs</h2>
  </header>
</div>
<div class="wrapper">

  <a href="javascript:void(0)" id="left-arrow" (click)="goToPrevious('interior')">
    <img class="leftarrow" src="assets/images/left.png" alt="left Arrow">
  </a>
  <!-- <div (click)="goToPrevious()" class="leftArrow">❰</div> -->
  <ul class="carousel" #interiorCarousel>

    <a routerLink="Livingroom">
      <li class="card">
        <div class="img"><img src="assets/images/livingroom.webp" alt="Living Room" draggable="false"></div>
        <h2>Living Room</h2>
      </li>
    </a>

    <a routerLink="SpaceSaving">
      <li class="card">
        <div class="img"><img src="assets/images/space_saving.webp" alt="Space Saving" draggable="false"></div>
        <h2>Space Saving</h2>
      </li>
    </a>

    <a routerLink="Kitchen">
      <li class="card">
        <div class="img"><img src="assets/images/kitchen.webp" alt="Kitchen" draggable="false"></div>
        <h2>Kitchen</h2>
      </li>
    </a>

    <a routerLink="Homeoffice">
      <li class="card">
        <div class="img"><img src="assets/images/home-office.webp" alt="Home Office" draggable="false"></div>
        <h2>Home Office</h2>
      </li>
    </a>

    <a routerLink="Bedroom">
      <li class="card">
        <div class="img"><img src="assets/images/bedroom.webp" alt="Bedroom" draggable="false"></div>
        <h2>Bedroom</h2>
      </li>
    </a>

    <a routerLink="Bathroom">
      <li class="card">
        <div class="img"><img src="assets/images/bathroom.webp" alt="Bathroom" draggable="false"></div>
        <h2>Bathroom</h2>
      </li>
    </a>

    <a routerLink="Dining">
      <li class="card">
        <div class="img"><img src="assets/images/dining.webp" alt="dining" draggable="false"></div>
        <h2>Dining</h2>
      </li>
    </a>

    <a routerLink="Balcony">
      <li class="card">
        <div class="img"><img src="assets/images/balcony.jpg" alt="Balcony" draggable="false"></div>
        <h2>Balcony</h2>
      </li>
    </a>

  </ul>
  <!-- <div (click)="goToNext()" class="rightArrow">❱</div> -->
  <a href="javascript:void(0)" id="right-arrow" (click)="goToNext('interior')">
    <img class="rightarrow" src="assets/images/right.png" alt="right Arrow">
  </a>
</div>
<div class="description">
  <p>Interior design focuses on creating functional and aesthetically pleasing spaces within a building. It involves
    selecting and arranging furniture, lighting, colors, and materials to enhance the overall ambiance and functionality
    of a room. Interior designers consider factors such as layout, flow, and personal style to create a harmonious and
    inviting environment that reflects the client's preferences and meets their needs.</p>
</div>

<!-- ---------------Exterior------------------ -->
<div class="header">
  <header class="title">
    <h2>Exterior Designs</h2>
  </header>
</div>
<div class="wrapper">
  
  <a href="javascript:void(0)" id="left-arrow" (click)="goToPrevious('exterior')">
    <img class="leftarrow" src="assets/images/left.png" alt="left Arrow">
  </a>
  <ul class="carousel" #exteriorCarousel>

    <a routerLink="Villa">
      <li class="card">
        <div class="img"><img src="assets/images/villa.jpg" alt="" draggable="false"></div>
        <h2>Villa</h2>
      </li>
    </a>

    <a routerLink="Apartment">
      <li class="card">
        <div class="img"><img src="assets/images/apartment.jpg" alt="" draggable="false"></div>
        <h2>Apartment</h2>
      </li>
    </a>

    <a routerLink="Building">
      <li class="card">
        <div class="img"><img src="assets/images/building.jpg" alt="" draggable="false"></div>
        <h2>Building</h2>
      </li>
    </a>

    <a routerLink="Villa">
      <li class="card">
        <div class="img"><img src="assets/images/villa1.jpg" alt="" draggable="false"></div>
        <h2>Villa-G+1</h2>
      </li>
    </a>

    <a routerLink="Apartment">
      <li class="card">
        <div class="img"><img src="assets/images/apartment1.jpg" alt="" draggable="false"></div>
        <h2>Apartment-G+3</h2>
      </li>
    </a>

    <a routerLink="Building">
      <li class="card">
        <div class="img"><img src="assets/images/building1.jpg" alt="" draggable="false"></div>
        <h2>Building-G+1</h2>
      </li>
    </a>

  </ul>
  
  <a href="javascript:void(0)" id="right-arrow" (click)="goToNext('exterior')">
    <img class="rightarrow" src="assets/images/right.png" alt="right Arrow">
  </a>
</div>
<div class="description">
  <p>Exterior design involves the planning and arrangement of outdoor spaces and the exterior appearance of a building
    or property. It includes elements such as landscaping, architecture, outdoor lighting, and the selection of
    materials and colors for the facade. Exterior designers aim to create visually appealing and cohesive exteriors that
    blend with the surroundings, enhance curb appeal, and reflect the desired style or theme of the property.</p>
</div>

<!-- ----------------Instructions----------------- -->
<section class="easy-instructions">
  <h2 class="instructions">Complete home interiors in 6 easy steps</h2>
  <div class="steps">
    <img class="step" src="https://super.homelane.com/design/1-16581676962473b51188294a6.png" alt="step1">
    <img class="step" src="https://super.homelane.com/design/2-165816769624729f5154fbba5.png" alt="step2">
    <img class="step" src="https://super.homelane.com/design/3-1658167383566d28c8af447bb.png" alt="step3">
    <img class="step" src="https://super.homelane.com/design/4-165816738356647ad2bca071f.png" alt="step4">
    <img class="step" src="https://super.homelane.com/design/5-16581673835660971c422323e.png" alt="step5">
    <img class="step" src="https://super.homelane.com/design/6-16581673835667b378e6687e5.png" alt="step6">
  </div>
</section>
<!-- --------------Book Free Consultation-------------- -->
  <div class="fixed-btn" (click)="openPopup()">
    <a class="Consultation">
    Book Free Consultation
  </a>
</div>

<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup"  (click)="openPopup()">
    <h2>Book Free Consultation</h2>
    <form #regFrom="ngForm" (ngSubmit)="bookConsultaion()">
      <table>
        <tr>
          <td style="padding-left: 20px;">
            <input type="text" id="userName" name="userName" [(ngModel)]="consultation.userName" placeholder="Name" #userName="ngModel" required minlength="5" maxlength="50" >
              <div *ngIf="userName.errors?.['required'] && userName.touched" style="color: red;">Please Provide Name</div>
              <div *ngIf="userName.errors?.['minlength'] && userName.touched" style="color: red;">Please Provide At least 5 Characters</div>
          </td>          
        </tr>

        <td style="color: white;">........</td>

        <tr>
          <td style="padding-left: 20px;">
            <input type="tel" id="phoneNumber" name="phoneNumber" required pattern="[6-9][0-9]{9}" [(ngModel)]="consultation.phoneNumber" placeholder="Phone Number" #phoneNumber="ngModel" ngModel required minlength="10" maxlength="10">
            <div *ngIf="phoneNumber.errors?.['required pattern'] && phoneNumber.touched" style="color: red;">Please Provide Phone Number</div>
            <div *ngIf="phoneNumber.errors?.['minlength'] && phoneNumber.touched" style="color: red;">Please Provide At least 10 digits</div>
          </td>
        </tr>

        <td style="color: white;">........</td>

        <tr>
          <td style="padding-left: 20px;">
            <input type="email" id="emailId" name="emailId" required pattern="[a-zA-Z].*@[a-zA-Z].*\.[a-zA-Z].*" [(ngModel)]="consultation.emailId" placeholder="Email Id" #emailId="ngModel" ngModel required minlength="10" maxlength="50">
            <div *ngIf="emailId.errors?.['required '] && emailId.touched" style="color: red;">Please Provide Email id</div>
            <div *ngIf="emailId.errors?.['required pattern, minlength'] && emailId.touched" style="color: red;">Please Provide A Valid EmailId</div>
          </td>
        </tr>
        <td style="color: white;">........</td>
        
        
        <tr>
          <td ><div >
            Please select any one option for Property and Design.
          </div></td>
        </tr>
        <tr>
          <td style="padding-left: 20px;">
            <div class="radio-group">
              <div>
                <input type="radio" id="apartment" name="property" value="Apartment" [(ngModel)]="consultation.property" #property="ngModel" ngModel required>
                <label for="apartment">Apartment</label>
              </div>
              <div>
                <input type="radio" id="villa" name="property" value="Villa" [(ngModel)]="consultation.property" #property="ngModel" ngModel required>
                <label for="villa">Villa</label>
              </div>
              <div>
                <input type="radio" id="independentHouse" name="property" value="Building" [(ngModel)]="consultation.property" #property="ngModel" ngModel required>
                <label for="independentHouse">Building</label>
              </div>
              
            </div>
          </td>
        </tr>
        <tr>
          <td style="color: white;">.........</td>
        </tr>
        <tr>
          <td style="padding-left: 20px;">
            <div class="radio-group">
              <div>
                <input type="radio" id="interior" name="design" value="Interior" [(ngModel)]="consultation.design">
                <label for="interior">Interior</label>
              </div>
              <div>
                <input type="radio" id="exterior" name="design" value="Exterior" [(ngModel)]="consultation.design">
                <label for="exterior">Exterior</label>
              </div>
              <div>
                <input type="radio" id="full" name="design" value="Full" [(ngModel)]="consultation.design">
                <label for="full">Full</label>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <br>
      <div class="button-group">
        <button type="submit" >Submit</button>
        <button class="close-button" (click)="closePopup()">Close</button>
      </div>
    </form>
  </div>
</div>