

<!-- -------------------welcome------------------- -->
<section class="main">
  <div class="header">
    <h4>
      <span class="heading-text">WELCOME TO CONSTRUCTIFY</span>
    </h4>
  </div>
  <div class="info">
    <p>At Constructify, we believe in the power of construction, the art of design, and the value of quality products. With years of industry experience, our team is dedicated to providing top-notch services and products that meet the needs of our clients. Whether you're embarking on a construction project, searching for high-quality products, or seeking innovative design solutions, we are here to guide you every step of the way. Our commitment to excellence and customer satisfaction is what sets us apart. Explore our website to discover our range of services, browse our diverse product offerings, and unleash the potential of your project with our exceptional design expertise.</p>
  </div>
</section>
<!-- ------------------------------ -->
<section class="main">
  <div class="header">
    <h4>
      <span class="heading-text">OUR SERVICES</span>
    </h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main2">
          <div class="service">
            <div class="service-logo">
              <img src="assets/images/construction.jpg" alt="img">
            </div>
            <h4>Construction</h4>
            <p>We deliver top-notch construction services, combining functionality, aesthetics, and sustainability to create inspiring residential and commercial spaces. Meticulous planning, skilled craftsmanship, and customer satisfaction are our hallmarks.</p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="main2">
          <div class="service">
            <div class="service-logo">
              <img src="assets/images/design.jpg" alt="img">
            </div>
            <h4>Designs</h4>
            <p>Our talented team brings transformative design to life, crafting captivating interiors, innovative architecture, and thoughtful urban planning. We merge form and function to create spaces that inspire and reflect our clients' vision.</p>
           </div>
        </div>
      </div> 
      <div class="col-md-4">
        <div class="main2">
          <div class="service">
            <div class="service-logo">
              <img src="assets/images/products.jpg" alt="img">
            </div>
            <h4>Products</h4>
            <p>Explore our curated selection of high-quality construction and design products. We offer reliable options, carefully chosen for performance, durability, and aesthetics. Count on us to bring your vision to life.</p>
           </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- ------------what we offer------- -->
<section class="main">
  <div class="header">
    <h4>
      <span class="heading-text">WHAT WE OFFER</span>
    </h4>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="main2">
          <div class="service2">
            <div class="service-icon">
              <img src="assets/images/service-icon.avif" alt="img">
            </div>
            <h4>Our services</h4>
            <ul class="list-disc mt-3 mb-5 ml-10 mr-3">
              <li class="mb-4"><p class="body_small">Construction</p></li>
              <li class="mb-4"><p class="body_small">Interior Designs</p></li>
              <li class="mb-4"><p class="body_small">Exterior Designs/Blueprints</p></li>
              <li class="mb-4"><p class="body_small">Sell Raw materials</p></li>
            </ul>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="main2">
          <div class="service2">
            <div class="service-icon">
              <img src="assets/images/warranty-icon.avif" alt="img">
            </div>
            <h4>Warranty</h4>
            <ul class="list-disc mt-3 mb-5 ml-10 mr-3">
              <li class="mb-4"><p class="body_small">FLAT 10-year warranty¹ - Stay worry-free with our warranty policy on modular products.</p></li>
              <li class="mb-4"><p class="body_small">Up to 1-year on-site service warranty¹ - Warranty on on-site services such as painting, electrical, plumbing and more</p></li>
            </ul>
           </div>
        </div>
      </div> 

      <div class="col-md-4">
        <div class="main2">
          <div class="service2">
            <div class="service-icon">
              <img src="assets/images/price-icon.avif" alt="img">
            </div>
            <h4>Price benefits</h4>
            <ul class="list-disc mt-3 mb-5 ml-10 mr-3">
              <li class="mb-4"><p class="body_small">Price-match guarantee³ - Price match to a valid quote in comparison with a branded player and for exact scope.</p></li>
              <li class="mb-4"><p class="body_small">Flexible payment options - EMI solutions and payment schemes from leading financial partners.</p></li>
              <li class="mb-4"><p class="body_small">No hidden costs - Transparent costing without last-minute additions.</p></li>
            </ul>
            </div>
        </div>
      </div> 

    </div>
  </div>
</section>zh
<!-- -----------how it works----------- -->
<section class="main"> 
    <div class="header">
        <h4>
            <span class="heading-text">HOW IT WORKS</span>
        </h4>
    </div>
    <div class="info">
        <p>We focus on creating a quality customer experience from start to finish. Our project portal is client-focused, providing ease in communication through the duration of your project! We pride ourselves in crafting a pleasant experience and believe that clear and timely communication is the key to executing a job done right.</p>
    </div>
    <section class="instructions ">
    <div class="content">
      <div class="image">
        <img loading="lazy"  class="img" src="http://buildmasters.com/wp-content/uploads/2022/01/28.png" alt="28" itemprop="image" title="28">
      </div> 
      <div class="head-content">
        <h5 class="heading">
          <span class="heading-text">CONSULTATION</span>
        </h5>
      </div>
    </div>
    <div class="content">
      <div class="image">
        <img loading="lazy" class="img" src="http://buildmasters.com/wp-content/uploads/2022/01/27.png" alt="28" itemprop="image" title="28">
      </div> 
      <div class="head-content">
        <h5 class="heading">
          <span class="heading-text">ESTIMATE</span>
        </h5>
      </div>
    </div>
    <div class="content">
      <div class="image">
        <img loading="lazy" class="img" src="http://buildmasters.com/wp-content/uploads/2022/01/26.png" alt="28" itemprop="image" title="28">
      </div> 
      <div class="head-content">
        <h5 class="heading">
          <span class="heading-text">PLANNING</span>
        </h5>
      </div>
    </div>
    <div class="content">
      <div class="image">
        <img loading="lazy" class="img" src="http://buildmasters.com/wp-content/uploads/2022/01/25.png" alt="28" itemprop="image" title="28">
      </div> 
      <div class="head-content">
        <h5 class="heading">
          <span class="heading-text">PROJECT PREP</span>
        </h5>
      </div>
    </div>
    <div class="content">
      <div class="image">
        <img loading="lazy" class="img" src="http://buildmasters.com/wp-content/uploads/2022/01/24.png" alt="28" itemprop="image" title="28">
      </div> 
      <div class="head-content">
        <h5 class="heading">
          <span class="heading-text">BUILD YOUR DREAM</span>
        </h5>
      </div>
    </div>
    <div class="content">
      <div class="image">
        <img loading="lazy" class="img" src="http://buildmasters.com/wp-content/uploads/2022/01/23.png" alt="28" itemprop="image" title="28">
      </div> 
      <div class="head-content">
        <h5 class="heading">
          <span class="heading-text">ENJOY YOUR SPACE</span>
        </h5>
      </div>
    </div>
    </section>
    </section>


<!-- ----------------contact-us------------------ -->

<section class="main">
    <div class="header">
      <h4>
          <span class="heading-text">CONTACT US</span>
      </h4>
    </div>
    <div class="info-contact">
      <p>Give us a call for the best home interior and exterior design experience</p>
    </div>
    <div class="contact">
      <button class="btn" routerlink="/ContactUs" >Call now</button>
    </div>
</section>

